extends layout

block content
  h1= title
  p Welcome to #{title}
  a.btn.btn-warning(href='#',role='button') Link
  div.container
    div.row.show-grid
      div.col-xs-4 .col-xs-4
      div.col-xs-4 .col-xs-4
      div.col-xs-4 .col-xs-4
    div.row
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
    div.row
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      span.glyphicon.glyphicon-search(aria-hidden='true')
      button.btn.btn-default.btn-lg(type='button')
        span.glyphicon.glyphicon-star(aria-hidden='true') Star
    table.table.table-bordered
      tr.active
        td abc
        td abd
      tr.success
        td abc
        td abd
      tr.info
        td abc
        td abd
    h1 h1.bootstrap heading
    input(type='checkbox' name='agreement' checked)
    a(href='google.com') Google
    ul.dropdown-menu(role='menu' aria-labelledby='dropdownMenu')
      li
       a Action
      li
       a Action
      li
        a Action
      li
        a Action
    div.alert.alert-danger
      button(type='button' class='close') &times;
      strong Warning!
    div.progress
      div.progress-bar.progress-bar-striped.active(role='progressbar' aria-valuenow=45 aria-valuemin="0" aria-valuemax="100" style="width: 45%")
    div.testcase(style='width:30rem; border:solid 1px black')
      div(style="float:left;width:9rem;border:solid 1px green;font-size:2rem") ;font-size:1rem
      div(style="float:left;width:9rem;border:solid 1px green;font-size:2rem") ;font-size:2rem
      div(style="float:left;width:9rem;border:solid 1px green;font-size:2rem") ;font-size:3rem
    div(id="testImg" style="border:9px solid red")
      img(src="/images/21.jpg")
block scripts
  script.
    function  test(){
      console.log("load");
      console.log(document.readyState);
      console.log(document.querySelector("#testImg").scrollWidth);
      console.log(document.querySelector("#testImg").scrollHeight);
      window.removeEventListener('load', test);
    }
    function testcase() {
      //document.removeEventListener('DOMContentLoaded', testcase);
      console.log("DOMContentLoaded");
      console.log(document.readyState);
      console.log(document.querySelector("#testImg").scrollWidth);
      console.log(document.querySelector("#testImg").scrollHeight)
    }
    function resize(){
      console.log('resize');
    }
    window.addEventListener('load', test);
    document.addEventListener('DOMContentLoaded', testcase);
    window.addEventListener('resize',resize);